#about-box {
  background: white;
  height: 100vh;
  top: 0;
  left: 0;

  /*visibility: hidden;*/
}

h4 {
  border: 10px solid black;
  background: black;
  color: white;
  padding: 10px;
  transform: translate(-140%, -200%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}
.about-box{
  background-color: black;
  height: 500px;
  /*margin-top: 30px;*/
  border: 1px black solid;
  margin-top: 39px;
  /*font-size: 200px;*/
  word-wrap: break-word;
  letter-spacing: 20px;
  /*display: none;*/
  -webkit-animation: mymove infinite;
  animation: mymove 1;
  animation-duration: 2s;
}

@keyframes mymove {
    from {top: -500px;}
    to {top: 0px;}
}

h3.title-about {
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 70px;
  letter-spacing: 12px;

}


.about-box2{
  /*border: 1px solid black;*/
  top: 100px;
  height: 400px;
  padding-top: 40px;
}

.about-box2 h2 {
  font-size: 60px;
}

@media only screen and (min-device-width : 810px) and (max-device-width : 1030px) {
  h3.title-about {
    font-size: 63px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  h3.title-about {
    font-size: 151px;
  }
  h4 {
    transform: translate(0%, 10%);  
  }
}
