.contacts {
  /*background-color: grey;*/
  height: 100vh;
  margin: 40px 10px;
  /*top: 50px;*/
}

.contact-box{
  /*background: black;*/
  color: black;
  top: 300px;

}
/*.contactInfo {
  border: 1px solid black;
}*/

#githubSvg{
  animation-delay: 0.1s;
}


#linkedinSvg{
  animation-delay: 0.2s;
}
/*.hidden {
  visibility: hidden;
}*/
/*#linkedin {
  visibility: hidden;
}
#github {
  visibility: hidden;
}*/
