
.p-name{
  border: 1px solid black;

}
.projects {
  background-color: grey;
  height: 100vh;
  margin: 80px -10px;;
  /*top: 50px;*/

}
.project-box{
  /*border: 1px solid black;*/
  text-align: center;
}

img{
  position: relative;
}

p {
  border: 1px solid black;
  color: white;
  background-color: black;
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 20px;
  line-height: 5px;

}

.fabric {
  border: 1px solid black;
  background: yellow;
  height: 100vh;
  margin: 80px 40px;

}
.fabrics-pics{
  border: 1px solid black;

  height: 70px;
}
