@font-face {
   font-family: subTitle;
   src: url(/fonts/BodoniFLF-Roman.ttf);
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
li {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'subTitle';
}
h4 {
  font-family: 'subTitle';
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 90px;
  letter-spacing: 12px;
}
p {

}
.container{
  margin-top: 60px;
}
.home {
  background: white;
  height: 100vh;
  top: 0;
  left: 0;
  transition: background-color 3s ease-in-out;
}

.title-box {
  background-color: white;
  /*border: 1px solid black;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



/*.contacts {
  background: red;
  height: 100vh;

}*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 70px;
  background-color: white;

}
nav {

}
ul {
    list-style: none;
    padding: 10px;
    /*margin: 20px;*/
    text-align: center;


  }

  li {
    display: inline-block;
    padding: 10px;
    line-height: 40px;
  }

a {
  color: black;;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  letter-spacing: 7px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 li {
   font-size: 20px;
 }
}

footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background: white;
   z-index: 3;
   padding: 10px;
   text-align:center;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
}

.icon {
  width: 100px;
  cursor: pointer;
}
img {
  width: 350px;
}
